# Los Angeles Crime Rate Data from 2020- Present

In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('Crime_Data_from_2020_to_Present.csv')

In [3]:
pd.set_option('display.max_columns', None)
df

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,Mocodes,Vict Age,Vict Sex,Vict Descent,Premis Cd,Premis Desc,Weapon Used Cd,Weapon Desc,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,NaN,0,M,O,101.0,STREET,NaN,NaN,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,1822 1402 0344,47,M,O,128.0,BUS STOP/LAYOVER (ALSO QUERY 124),NaN,NaN,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,0344 1251,19,X,X,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,NaN,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),0325 1501,19,M,O,405.0,CLOTHING STORE,NaN,NaN,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,1200,6,Hollywood,666,2,354,THEFT OF IDENTITY,1822 1501 0930 2004,28,M,H,102.0,SIDEWALK,NaN,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,1900 TRANSIENT,NaN,34.0944,-118.3277
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
982633,242011172,08/20/2024 12:00:00 AM,08/17/2024 12:00:00 AM,2300,20,Olympic,2033,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",0344 1822,36,F,C,207.0,BAR/COCKTAIL/NIGHTCLUB,NaN,NaN,IC,Invest Cont,341.0,NaN,NaN,NaN,3700 WILSHIRE BL,NaN,34.0617,-118.3066
982634,240710284,07/24/2024 12:00:00 AM,07/23/2024 12:00:00 AM,1400,7,Wilshire,788,1,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,4000 W 23RD ST,NaN,34.0362,-118.3284
982635,240104953,01/15/2024 12:00:00 AM,01/15/2024 12:00:00 AM,100,1,Central,101,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0329 0400 0416,0,X,X,503.0,HOTEL,500.0,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,745.0,NaN,NaN,NaN,1300 W SUNSET BL,NaN,34.0685,-118.2460
982636,240309674,04/24/2024 12:00:00 AM,04/24/2024 12:00:00 AM,1500,3,Southwest,358,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",1822 0334 0416 0445 0449 1202,70,F,W,102.0,SIDEWALK,308.0,STICK,IC,Invest Cont,230.0,NaN,NaN,NaN,FLOWER ST,JEFFERSON BL,34.0215,-118.2868
982637,240910892,08/13/2024 12:00:00 AM,08/12/2024 12:00:00 AM,2300,9,Van Nuys,914,1,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,108.0,PARKING LOT,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,6900 VESPER AV,NaN,34.1961,-118.4510

In [4]:
df

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,Mocodes,Vict Age,Vict Sex,Vict Descent,Premis Cd,Premis Desc,Weapon Used Cd,Weapon Desc,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,NaN,0,M,O,101.0,STREET,NaN,NaN,AA,Adult Arrest,510.0,998.0,NaN,NaN,1900 S LONGWOOD AV,NaN,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,1822 1402 0344,47,M,O,128.0,BUS STOP/LAYOVER (ALSO QUERY 124),NaN,NaN,IC,Invest Cont,330.0,998.0,NaN,NaN,1000 S FLOWER ST,NaN,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,0344 1251,19,X,X,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",NaN,NaN,IC,Invest Cont,480.0,NaN,NaN,NaN,1400 W 37TH ST,NaN,34.0210,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),0325 1501,19,M,O,405.0,CLOTHING STORE,NaN,NaN,IC,Invest Cont,343.0,NaN,NaN,NaN,14000 RIVERSIDE DR,NaN,34.1576,-118.4387
4,220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,1200,6,Hollywood,666,2,354,THEFT OF IDENTITY,1822 1501 0930 2004,28,M,H,102.0,SIDEWALK,NaN,NaN,IC,Invest Cont,354.0,NaN,NaN,NaN,1900 TRANSIENT,NaN,34.0944,-118.3277
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
982633,242011172,08/20/2024 12:00:00 AM,08/17/2024 12:00:00 AM,2300,20,Olympic,2033,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",0344 1822,36,F,C,207.0,BAR/COCKTAIL/NIGHTCLUB,NaN,NaN,IC,Invest Cont,341.0,NaN,NaN,NaN,3700 WILSHIRE BL,NaN,34.0617,-118.3066
982634,240710284,07/24/2024 12:00:00 AM,07/23/2024 12:00:00 AM,1400,7,Wilshire,788,1,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,101.0,STREET,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,4000 W 23RD ST,NaN,34.0362,-118.3284
982635,240104953,01/15/2024 12:00:00 AM,01/15/2024 12:00:00 AM,100,1,Central,101,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0329 0400 0416,0,X,X,503.0,HOTEL,500.0,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,745.0,NaN,NaN,NaN,1300 W SUNSET BL,NaN,34.0685,-118.2460
982636,240309674,04/24/2024 12:00:00 AM,04/24/2024 12:00:00 AM,1500,3,Southwest,358,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",1822 0334 0416 0445 0449 1202,70,F,W,102.0,SIDEWALK,308.0,STICK,IC,Invest Cont,230.0,NaN,NaN,NaN,FLOWER ST,JEFFERSON BL,34.0215,-118.2868
982637,240910892,08/13/2024 12:00:00 AM,08/12/2024 12:00:00 AM,2300,9,Van Nuys,914,1,510,VEHICLE - STOLEN,NaN,0,NaN,NaN,108.0,PARKING LOT,NaN,NaN,IC,Invest Cont,510.0,NaN,NaN,NaN,6900 VESPER AV,NaN,34.1961,-118.4510

In [5]:
pd.set_option('display.max_columns', None)

In [6]:
df.describe()

,DR_NO,TIME OCC,AREA,Rpt Dist No,Part 1-2,Crm Cd,Vict Age,Premis Cd,Weapon Used Cd,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LAT,LON
count,9.826380e+05,982638.000000,982638.000000,982638.000000,982638.000000,982638.000000,982638.000000,982624.000000,326167.000000,982627.000000,68875.000000,2311.000000,64.00000,982638.000000,982638.000000
mean,2.197437e+08,1338.945426,10.700277,1116.459887,1.404253,500.823555,29.079817,306.133008,363.840882,500.578668,958.167085,984.204673,991.21875,33.995725,-118.082225
std,1.294954e+07,651.537830,6.107808,610.893787,0.490747,206.211940,21.970094,219.053795,123.684663,206.010361,110.232109,51.485644,27.06985,1.636729,5.672940
min,8.170000e+02,1.000000,1.000000,101.000000,1.000000,110.000000,-4.000000,101.000000,101.000000,110.000000,210.000000,310.000000,821.00000,0.000000,-118.667600
25%,2.106089e+08,900.000000,5.000000,587.000000,1.000000,331.000000,0.000000,101.000000,311.000000,331.000000,998.000000,998.000000,998.00000,34.014600,-118.430500
50%,2.208146e+08,1420.000000,11.000000,1141.000000,1.000000,442.000000,30.000000,203.000000,400.000000,442.000000,998.000000,998.000000,998.00000,34.058900,-118.322500
75%,2.309153e+08,1900.000000,16.000000,1617.000000,2.000000,626.000000,44.000000,501.000000,400.000000,626.000000,998.000000,998.000000,998.00000,34.164900,-118.273900
max,2.499253e+08,2359.000000,21.000000,2199.000000,2.000000,956.000000,120.000000,976.000000,516.000000,956.000000,999.000000,999.000000,999.00000,34.334300,0.000000

# Checking for Missing Values

In [7]:
df.isnull()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,Mocodes,Vict Age,Vict Sex,Vict Descent,Premis Cd,Premis Desc,Weapon Used Cd,Weapon Desc,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,True,True,False,False,False,False,True,True,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False,True,True,False,True,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,True,True,True,False,True,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,True,True,True,False,True,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,True,True,True,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
982633,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,True,True,True,False,True,False,False
982634,False,False,False,False,False,False,False,False,False,False,True,False,True,True,False,False,True,True,False,False,False,True,True,True,False,True,False,False
982635,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,False,True,False,False
982636,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,False,False,False,False
982637,False,False,False,False,False,False,False,False,False,False,True,False,True,True,False,False,True,True,False,False,False,True,True,True,False,True,False,False

In [8]:
df.isnull().sum()

DR_NO                  0
Date Rptd              0
DATE OCC               0
TIME OCC               0
AREA                   0
AREA NAME              0
Rpt Dist No            0
Part 1-2               0
Crm Cd                 0
Crm Cd Desc            0
Mocodes           145262
Vict Age               0
Vict Sex          138445
Vict Descent      138456
Premis Cd             14
Premis Desc          585
Weapon Used Cd    656471
Weapon Desc       656471
Status                 1
Status Desc            0
Crm Cd 1              11
Crm Cd 2          913763
Crm Cd 3          980327
Crm Cd 4          982574
LOCATION               0
Cross Street      830789
LAT                    0
LON                    0
dtype: int64

# Replacing NaN values with 0

In [9]:
df.fillna(0,inplace=True)

In [36]:
df.isnull().sum()

DR_NO             0
Date Rptd         0
DATE OCC          0
TIME OCC          0
AREA              0
AREA NAME         0
Rpt Dist No       0
Part 1-2          0
Crm Cd            0
Crm Cd Desc       0
Mocodes           0
Vict Age          0
Vict Sex          0
Vict Descent      0
Premis Cd         0
Premis Desc       0
Weapon Used Cd    0
Weapon Desc       0
Status            0
Status Desc       0
Crm Cd 1          0
Crm Cd 2          0
Crm Cd 3          0
Crm Cd 4          0
LOCATION          0
Cross Street      0
LAT               0
LON               0
dtype: int64

In [10]:
df

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,Mocodes,Vict Age,Vict Sex,Vict Descent,Premis Cd,Premis Desc,Weapon Used Cd,Weapon Desc,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,190326475,03/01/2020 12:00:00 AM,03/01/2020 12:00:00 AM,2130,7,Wilshire,784,1,510,VEHICLE - STOLEN,0,0,M,O,101.0,STREET,0.0,0,AA,Adult Arrest,510.0,998.0,0.0,0.0,1900 S LONGWOOD AV,0,34.0375,-118.3506
1,200106753,02/09/2020 12:00:00 AM,02/08/2020 12:00:00 AM,1800,1,Central,182,1,330,BURGLARY FROM VEHICLE,1822 1402 0344,47,M,O,128.0,BUS STOP/LAYOVER (ALSO QUERY 124),0.0,0,IC,Invest Cont,330.0,998.0,0.0,0.0,1000 S FLOWER ST,0,34.0444,-118.2628
2,200320258,11/11/2020 12:00:00 AM,11/04/2020 12:00:00 AM,1700,3,Southwest,356,1,480,BIKE - STOLEN,0344 1251,19,X,X,502.0,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",0.0,0,IC,Invest Cont,480.0,0.0,0.0,0.0,1400 W 37TH ST,0,34.0210,-118.3002
3,200907217,05/10/2023 12:00:00 AM,03/10/2020 12:00:00 AM,2037,9,Van Nuys,964,1,343,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),0325 1501,19,M,O,405.0,CLOTHING STORE,0.0,0,IC,Invest Cont,343.0,0.0,0.0,0.0,14000 RIVERSIDE DR,0,34.1576,-118.4387
4,220614831,08/18/2022 12:00:00 AM,08/17/2020 12:00:00 AM,1200,6,Hollywood,666,2,354,THEFT OF IDENTITY,1822 1501 0930 2004,28,M,H,102.0,SIDEWALK,0.0,0,IC,Invest Cont,354.0,0.0,0.0,0.0,1900 TRANSIENT,0,34.0944,-118.3277
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
982633,242011172,08/20/2024 12:00:00 AM,08/17/2024 12:00:00 AM,2300,20,Olympic,2033,1,341,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",0344 1822,36,F,C,207.0,BAR/COCKTAIL/NIGHTCLUB,0.0,0,IC,Invest Cont,341.0,0.0,0.0,0.0,3700 WILSHIRE BL,0,34.0617,-118.3066
982634,240710284,07/24/2024 12:00:00 AM,07/23/2024 12:00:00 AM,1400,7,Wilshire,788,1,510,VEHICLE - STOLEN,0,0,0,0,101.0,STREET,0.0,0,IC,Invest Cont,510.0,0.0,0.0,0.0,4000 W 23RD ST,0,34.0362,-118.3284
982635,240104953,01/15/2024 12:00:00 AM,01/15/2024 12:00:00 AM,100,1,Central,101,2,745,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0329 0400 0416,0,X,X,503.0,HOTEL,500.0,UNKNOWN WEAPON/OTHER WEAPON,IC,Invest Cont,745.0,0.0,0.0,0.0,1300 W SUNSET BL,0,34.0685,-118.2460
982636,240309674,04/24/2024 12:00:00 AM,04/24/2024 12:00:00 AM,1500,3,Southwest,358,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",1822 0334 0416 0445 0449 1202,70,F,W,102.0,SIDEWALK,308.0,STICK,IC,Invest Cont,230.0,0.0,0.0,0.0,FLOWER ST,JEFFERSON BL,34.0215,-118.2868
982637,240910892,08/13/2024 12:00:00 AM,08/12/2024 12:00:00 AM,2300,9,Van Nuys,914,1,510,VEHICLE - STOLEN,0,0,0,0,108.0,PARKING LOT,0.0,0,IC,Invest Cont,510.0,0.0,0.0,0.0,6900 VESPER AV,0,34.1961,-118.4510

# Street Locations

In [11]:
df['LOCATION'].mode()
# 800 N  ALAMEDA has the highest crime location

0    800 N  ALAMEDA                      ST
Name: LOCATION, dtype: object

In [12]:
# Analyzing Location streets in Los Angeles with the highest crime reported
result3=df['LOCATION'].value_counts()
result3

LOCATION
800 N  ALAMEDA                      ST      2522
700 S  FIGUEROA                     ST      1619
10200    SANTA MONICA                 BL    1602
100    THE GROVE                    DR      1591
6TH                          ST             1572
                                            ...
15800    ROMAR                        ST       1
8800    SPARTON                      AV        1
01800 W  MICHAEL                      LN       1
10700    MOUNT GLEASON                         1
12200    ART                          ST       1
Name: count, Length: 66265, dtype: int64

In [13]:
# retrieving top 5 Location streets in Los Angeles with the highest crime reported
result4=result3.head(5)
result4

LOCATION
800 N  ALAMEDA                      ST      2522
700 S  FIGUEROA                     ST      1619
10200    SANTA MONICA                 BL    1602
100    THE GROVE                    DR      1591
6TH                          ST             1572
Name: count, dtype: int64

In [14]:
result4.to_csv('result4.csv')

In [15]:
# Finding the most  Gender Victims occurence
df['Vict Sex'].mode()

0    M
Name: Vict Sex, dtype: object

In [16]:
# Finding the average age of Victims
df['Vict Age'].mean()

29.079816778915532

In [17]:
#Finding the Most Area Name reported
df['AREA NAME'].mode()

0    Central
Name: AREA NAME, dtype: object

In [18]:
# Creating a new Dataframe called Crime_result
Crime_result=df.loc[:,['AREA NAME','Crm Cd Desc','DATE OCC','Premis Desc','Vict Age','Vict Sex','LOCATION','Date Rptd']]
Crime_result

,AREA NAME,Crm Cd Desc,DATE OCC,Premis Desc,Vict Age,Vict Sex,LOCATION,Date Rptd
0,Wilshire,VEHICLE - STOLEN,03/01/2020 12:00:00 AM,STREET,0,M,1900 S LONGWOOD AV,03/01/2020 12:00:00 AM
1,Central,BURGLARY FROM VEHICLE,02/08/2020 12:00:00 AM,BUS STOP/LAYOVER (ALSO QUERY 124),47,M,1000 S FLOWER ST,02/09/2020 12:00:00 AM
2,Southwest,BIKE - STOLEN,11/04/2020 12:00:00 AM,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",19,X,1400 W 37TH ST,11/11/2020 12:00:00 AM
3,Van Nuys,SHOPLIFTING-GRAND THEFT ($950.01 & OVER),03/10/2020 12:00:00 AM,CLOTHING STORE,19,M,14000 RIVERSIDE DR,05/10/2023 12:00:00 AM
4,Hollywood,THEFT OF IDENTITY,08/17/2020 12:00:00 AM,SIDEWALK,28,M,1900 TRANSIENT,08/18/2022 12:00:00 AM
...,...,...,...,...,...,...,...,...
982633,Olympic,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",08/17/2024 12:00:00 AM,BAR/COCKTAIL/NIGHTCLUB,36,F,3700 WILSHIRE BL,08/20/2024 12:00:00 AM
982634,Wilshire,VEHICLE - STOLEN,07/23/2024 12:00:00 AM,STREET,0,0,4000 W 23RD ST,07/24/2024 12:00:00 AM
982635,Central,VANDALISM - MISDEAMEANOR ($399 OR UNDER),01/15/2024 12:00:00 AM,HOTEL,0,X,1300 W SUNSET BL,01/15/2024 12:00:00 AM
982636,Southwest,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",04/24/2024 12:00:00 AM,SIDEWALK,70,F,FLOWER ST,04/24/2024 12:00:00 AM
982637,Van Nuys,VEHICLE - STOLEN,08/12/2024 12:00:00 AM,PARKING LOT,0,0,6900 VESPER AV,08/13/2024 12:00:00 AM

In [19]:
# Creating DataFrame for the Area Name Centeral
Central=Crime_result.loc[Crime_result['AREA NAME']=='Central']
Central

,AREA NAME,Crm Cd Desc,DATE OCC,Premis Desc,Vict Age,Vict Sex,LOCATION,Date Rptd
1,Central,BURGLARY FROM VEHICLE,02/08/2020 12:00:00 AM,BUS STOP/LAYOVER (ALSO QUERY 124),47,M,1000 S FLOWER ST,02/09/2020 12:00:00 AM
6,Central,THEFT OF IDENTITY,07/03/2020 12:00:00 AM,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",25,M,1100 S GRAND AV,04/04/2023 12:00:00 AM
58,Central,THEFT OF IDENTITY,07/01/2020 12:00:00 AM,CYBERSPACE,22,F,800 S HOPE ST,09/06/2022 12:00:00 AM
60,Central,"THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...",12/20/2020 12:00:00 AM,SIDEWALK,0,X,6TH ST,01/17/2022 12:00:00 AM
117,Central,INTIMATE PARTNER - AGGRAVATED ASSAULT,08/27/2020 12:00:00 AM,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",59,F,800 W 1ST ST,08/16/2023 12:00:00 AM
...,...,...,...,...,...,...,...,...
982552,Central,"EMBEZZLEMENT, GRAND THEFT ($950.01 & OVER)",07/12/2024 12:00:00 AM,STREET,0,X,1800 S MAIN ST,07/12/2024 12:00:00 AM
982573,Central,BURGLARY FROM VEHICLE,02/20/2024 12:00:00 AM,PARKING LOT,31,M,12TH ST,02/20/2024 12:00:00 AM
982597,Central,BATTERY - SIMPLE ASSAULT,04/01/2024 12:00:00 AM,MTA - RED LINE - 7TH AND METRO CENTER,60,M,7TH ST,04/01/2024 12:00:00 AM
982615,Central,VEHICLE - STOLEN,06/10/2024 12:00:00 AM,STREET,0,0,300 S ALAMEDA ST,06/10/2024 12:00:00 AM
982635,Central,VANDALISM - MISDEAMEANOR ($399 OR UNDER),01/15/2024 12:00:00 AM,HOTEL,0,X,1300 W SUNSET BL,01/15/2024 12:00:00 AM

In [20]:
Central.to_csv('Central.csv')

# AREA NAMES

In [21]:
result=Crime_result['AREA NAME'].value_counts()
result

AREA NAME
Central        67774
77th Street    60865
Pacific        57810
Southwest      55978
Hollywood      51324
N Hollywood    49978
Southeast      49119
Olympic        49023
Newton         48268
Wilshire       47090
Rampart        45818
West LA        44673
Northeast      41897
Van Nuys       41888
West Valley    41319
Devonshire     40840
Harbor         40466
Topanga        40430
Mission        39404
Hollenbeck     36119
Foothill       32555
Name: count, dtype: int64

In [22]:
result.to_csv('result.csv')

# Crime Descriptions

In [23]:
result2=Crime_result['Crm Cd Desc'].value_counts()
result2

Crm Cd Desc
VEHICLE - STOLEN                                           110804
BATTERY - SIMPLE ASSAULT                                    74688
BURGLARY FROM VEHICLE                                       61324
THEFT OF IDENTITY                                           60867
VANDALISM - FELONY ($400 & OVER, ALL CHURCH VANDALISMS)     59639
                                                            ...
FIREARMS EMERGENCY PROTECTIVE ORDER (FIREARMS EPO)              5
FIREARMS RESTRAINING ORDER (FIREARMS RO)                        4
DISHONEST EMPLOYEE ATTEMPTED THEFT                              4
TRAIN WRECKING                                                  1
DRUNK ROLL - ATTEMPT                                            1
Name: count, Length: 140, dtype: int64

In [24]:
result2.to_csv('result2.csv')

In [25]:
# Highest Crime_result reported
high_result=Crime_result['Crm Cd Desc'].mode()
high_result

0    VEHICLE - STOLEN
Name: Crm Cd Desc, dtype: object

In [26]:
Crime_result['Crm Cd Desc'].count()

982638

# Gender of Victims

In [27]:
result5=Crime_result['Vict Sex'].value_counts()
result5

Vict Sex
M    396769
F    352750
0    138445
X     94561
H       112
-         1
Name: count, dtype: int64

In [28]:
result5.to_csv('result5.csv')

In [29]:
Crime_result.to_csv('Crime_result.csv')

In [30]:
Crime_result['AREA NAME'].mode()

0    Central
Name: AREA NAME, dtype: object

In [31]:
Crime_result['Date Rptd'].value_counts()

Date Rptd
02/02/2023 12:00:00 AM    929
02/03/2023 12:00:00 AM    927
01/03/2023 12:00:00 AM    913
05/02/2022 12:00:00 AM    909
04/04/2022 12:00:00 AM    883
                         ...
05/26/2024 12:00:00 AM    201
07/04/2024 12:00:00 AM    193
09/29/2024 12:00:00 AM    188
08/11/2024 12:00:00 AM    184
07/20/2024 12:00:00 AM    177
Name: count, Length: 1735, dtype: int64

In [32]:
Crime_result['Date Rptd'] = pd.to_datetime(Crime_result['Date Rptd'])

/var/folders/qh/b_qb63453x388yxj4q6qfpqm0000gn/T/ipykernel_11661/445261006.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  Crime_result['Date Rptd'] = pd.to_datetime(Crime_result['Date Rptd'])

In [33]:
Crime_result['Date Rptd'] = Crime_result['Date Rptd'].dt.date

In [34]:
Crime_result['Date Rptd']

0         2020-03-01
1         2020-02-09
2         2020-11-11
3         2023-05-10
4         2022-08-18
             ...
982633    2024-08-20
982634    2024-07-24
982635    2024-01-15
982636    2024-04-24
982637    2024-08-13
Name: Date Rptd, Length: 982638, dtype: object

In [35]:
Crime_result['Date Rptd'].value_counts()

Date Rptd
2023-02-02    929
2023-02-03    927
2023-01-03    913
2022-05-02    909
2022-04-04    883
             ...
2024-05-26    201
2024-07-04    193
2024-09-29    188
2024-08-11    184
2024-07-20    177
Name: count, Length: 1735, dtype: int64